/* style.css */
body {
    font-family: serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c2c52;
  }
  
  .container {
    text-align: center;
    background: #15162e;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 25vw;
  }
  
  h1 {
    color: #ba4a4a;
    text-transform: uppercase;
  }
  .age_deco{
    color: #ffff;
    text-decoration: underline;
  }
  
  .form {
    margin: 20px 0;
  }
  label{
    color: #fff;
    font-weight: bold;
  }
  input[type="date"] {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
  }
  /* #calculateBtn{
     margin: 50px 0px;
  } */
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #118763;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #12ad80;
  }
  
  .result {
    margin-top: 30px;
    font-size: 18px;
    color: #12b725 !important;
  }
  